.delivery-extra-info {
    padding: 0 1.5em !important;
}

.responsive-cart-link {
	color: #030000 !important;
}

.responsive-cart-link:hover .fa,
.responsive-cart-link:hover .amount {
	color: #76af47 !important;
}

.responsive-cart-link .fa {
    vertical-align: inherit;
}

.responsive-cart-link .amount {
    padding: 0 4px;
}

.owl-carousel-salespoints {
	position: relative !important;
    margin-bottom: 3px;
    border-bottom: 1px solid #DFDFDD;
    padding-bottom: 3px;
	margin-top: 5px !important;
}

.owl-carousel-salespoints .owl-controls .owl-nav .owl-prev {
    position: absolute;
    top: 7px;
    left: 9px;
    color: rgba(0, 0, 0, 0);
    width: 6px;
    height: 9px;
    opacity: 0.4;
    background-image: url("../imgs/prev.png");
    background-repeat: no-repeat;
    background-size: contain;
	text-indent: -9999px;
}

.owl-carousel-salespoints .owl-controls .owl-nav .owl-next {
    position: absolute;
    top: 7px;
    right: 9px;
    color: rgba(0, 0, 0, 0);
    width: 6px;
    height: 9px;
    opacity: 0.4;
    background-image: url("../imgs/next.png");
    background-repeat: no-repeat;
    background-size: contain;
	text-indent: -9999px;
}

.owl-carousel-salespoints .columns {
    background-color: #dcedcd;
    transition: background-color 0.25s ease-out;
    padding: 0.4em;
    padding-bottom: 0.2em;
    text-align: center;
}

.owl-carousel-salespoints h2 {
	font-size: 11px;
    color: #98a88d;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;	
}

body .brand-carousel .owl-controls .owl-nav .owl-prev {
	left: 8px;
}

body .brand-carousel .owl-controls .owl-nav .owl-next {
	right: 8px;
}

.threepanels.show-for-small-only .panel .row {
	margin: 0px;
	padding: 0.5em 0;
	border: none;
}

.threepanels.show-for-small-only .panel .content {
	text-align: left;
	margin: 0px;
	max-width: 100%;
}

.threepanels.show-for-small-only .panel img {
	height: auto;
}

.owl-carousel.owl-loaded {
	overflow: hidden;
}

.more-or {
	display: none;
	margin-top: 0;
}

@media screen and (max-width: 1080px) { 
	.shopcatalogue {
		padding: 10px;
	}
	.woocommerce .woocommerce-breadcrumb, .breadcrumbs div, .breadcrumbs #breadcrumbs, .breadcrumbs {
		text-indent: 3px;
		border-top: 0px;
	}
	.cart-collaterals {
		padding: 15px;
	}
	.breadcrumbs #breadcrumbs span {
		padding: 0 4px;
	}
	.woocommerce-checkout .ze-multicart-head {
		padding: 0 10px !important;
	}
	.jcmc-tab-wrapper {
		padding: 10px !important;
	}
	#cart-sidebar-wrapper {
		padding: 0 0 0 1pc;
	}
	.ze-checkout-form-wrap {
		padding: 0px 1pc 0px 0px;
	}
	.jcmc-buttons {
		padding: 0 10px;
	}
	body .popular-designs h2:nth-child(1) {
	    padding: 0 10px;	
	}
	.woocommerce-order-received .order-confirmation-wrap {
		padding: 10px;	
	}
	.order-confirmation-wrap .left {
		padding: 0 1em 0 0;
	}
	.order-confirmation-wrap .right {
		padding: 0 0 0 1em;
	}
	.woocommerce-cart .cart-empty {
		padding: 10px;
		margin: 0px;
	}
	.woocommerce-cart .return-to-shop {
		padding: 0px 10px;	
	}
	.pagecontentwrap .navigation {
	    padding: 0 10px;	
	}
	.single-post .entry-header {
		padding: 16px 10px;
	}
	.postwrapper .postcol {
		padding-right: 1em;
	    padding-left: 10px;
	}
	.postwrapper .sidebar {
		padding-left: 1em;
		padding-right: 10px;
	}
	body > header .bottom .right {
		padding-right: 10px;
	}
	body > header .right {
		padding-right: 10px;
	}
	.blog  .entry-header,
	.singleproduct .woocommerce-breadcrumb,
	.information .medium-5,
	.information .medium-7,
	.customiser-wrapper,
	.description-image,
	.prodtoprow	{
		padding: 0 10px;	
	}
	body footer .newsletter .columns.large-8 .first {
		padding-left: 10px
	}
	body footer .newsletter .columns.large-4 .last {
		padding-right: 10px
	}
	.woocommerce table.cart td.actions input {
		margin-right: 10px;
		width: auto !important;
	}
	.menu-for-cats .menu-inside .columns a {
		padding-left: 10px;
	}
	.contact-page {
		padding: 1pc 10px;
	}
	.contact-form-wrapper {
		padding: 0 10px;
	}
	.cart-amazon {
		float: none;
		display: block;		
	}
	.cart-paypal {
		float: none;
		margin-top: 10px;
		display: block;
	}
	.checkout-tnc	 {
		padding: 0 10px;
	}
	.woocommerce-cart .cart-collaterals {
		padding: 0px;
	}
	.productcatintro {
		padding: 10px;
	}
	.ts-rating-light.vertical .ts-wrapper {
		padding: 10px !important;
	}
	.ts-rating-light.vertical .ts-footer {
	    padding: 0 10px !important;	
	}
	.siteorigin-widget-tinymce {
		padding: 0 10px;
	}
	.woocommerce form.login {
		padding: 0 10px;
	}
	.search-no-results .pagecontentwrap {
		padding: 0 10px;	
	}
	.cart-other-gateways .cart-amazon img,
	.cart-other-gateways .cart-paypal img {
		height: auto !important;
	}
}

@media screen and (max-width: 1024px) {
	body.page .entry-header {
		padding: 10px 10px !important;
		border-bottom: 1px solid #dfdfdf !important;
	}
	body > header .bottom div.search {
		max-width: 100% !important;
	}
}

@media screen and (max-width: 980px) {
	.foogallery-masonry .item:hover .info-box {
		display: none;
	}
}

@media screen and (max-width: 860px) {
	.home-product-features .section {
		margin: 0px auto;
		padding: 0px;
		-webkit-flex: 0 0 80%;
		-ms-flex: 0 0 80%;
		flex: 0 0 80%;
		max-width: 80%;
	}

	.home-product-features img {
		width: 100%;
	}
}

/* Foundation small only */
@media screen and (max-width: 39.9375em) {
	.home-product-features .section {
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.information .medium-5 {
		padding: 0;
	}
	
	.information .medium-5 img {
		padding: 0px;
		border: 0px;
	}

	.information .info_image {
		width: 100%;
	}
	.footer-bottom .small-12 {
		text-align: center
	}
	
	body footer .newsletter .social-icons {
		text-align: right;
	}
	body footer .newsletter .columns {
		height: auto;
		padding-left: 10px;
	}
	body footer .newsletter .columns .small-4 {
		padding-left: 0px;
	}
	.shopcatalogue {
		padding: 10px;
	}
	.woocommerce .woocommerce-breadcrumb, .breadcrumbs div, .breadcrumbs #breadcrumbs, .breadcrumbs {
		text-indent: 3px;
		border-top: 0px;
	}
	.productcatintro {
		padding: 10px;
	}
	.cart-collaterals div[class^='medium-'],
	.cart-collaterals div[class^='medium-']:first-of-type {
		padding: 10px 0px;
		border: 0px;
	}
	.woocommerce-cart .cart-collaterals .cart_totals table th {
	    text-align: left;
		padding: 0px !important;
	}
	.ze-checkout-form-wrap {
		padding: 0px 0pc 0px 0px;
		border: 0px;
	}
	#cart-sidebar-wrapper {
		padding: 0px;
	}
	.postwrapper .postcol {
		padding-right: 10px;
	}
	.postwrapper .sidebar {
		padding-left: 10px;
	}
	.postwrapper .sidebar .popular-designs .image {
		max-width: 250px;
	}
	ul.jcmc-tabs, .jcmc-tabs li {
		text-align: left;
		padding-top: 0.5pc !important;
	}
	.jcmc-tabs li.jcmc-odd, .jcmc-tabs.jcmc-wide li.jcmc-odd {
	    margin-right: 2% !important;	
	}
	body > header .left {
		-webkit-flex: 0 0 65%;
		-ms-flex: 0 0 65%;
		flex: 0 0 65%;
		max-width: 65%;	
	}
	body > header .right {
		-webkit-flex: 0 0 35%;
		-ms-flex: 0 0 35%;
		flex: 0 0 35%;
		max-width: 35%;
	}
	.comment-form-left,
	.comment-form-right {
		padding-left: 0px;
		padding-right: 0px;
	}
	.cart-collaterals {
		padding: 0 10px;
	}
	.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
		width: 100%;
	}
	.order-confirmation-wrap .left {
		padding: 0px;
	}
	.order-confirmation-wrap .right {
		padding: 0px;
		border: 0px;
		margin-top: 2em;
		border-top: 1px solid #dfdfdf;
	}
	.footer-bottom .row div:nth-child(2) {
		text-align: center;
	}
	body > header .bottom div.search {
		max-width: 100% !important;
	}
	.product-right {
		padding-left: 0px;
	}
	.singleproduct .pricerow .left {
		padding-left: 0px;
	}
	.bottom-bar-responsive {
		padding: 0px;
	}
	.bottom-bar-responsive div {
		padding: 0px;
		display: block;
	}
	.cartPrices p {
		text-align: left;
	}
	.productcatintro .left,
	.productcatintro .right {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.post-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	body .information .medium-7 {
		padding-top: 1pc;
	}
	.singleproduct .pricerow .right {
		text-align: left;
		padding: 0px;
	}
	.singleproduct .prodtoprow .columns:nth-child(2) {
		padding: 0px;
		padding-left: 0px;
	}
	.singleproduct .pricerow p {
			margin-bottom: 5px;
	}
	.contact-form-wrapper {
		margin-top: 1em;
	}
	#calc_shipping_country,
	#sagepaydirect-cc-form .input-text,
	#sagepaydirect-cc-form .wc-credit-card-form-card-type,
	#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc,
	#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry,
	#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number,
	.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc,
	.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry,
	.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number,
	.woocommerce form .form-row input.input-text {
		font-size: 16px;
	}
}

/* Foundation medium and smaller */
@media screen and (max-width: 63.9375em) {
	body .blog .post.main {
		padding-left: 0.625rem;
	}
	body .blog .post img {
		width: 100%;
	}
	body .blog .post.main .content {
		background: #ffffff;
		padding: 0;
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
	}
	body .blog .post.main .content h2 {
		font-weight: 600;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	body .blog .post.main .content p.date {
		float: right;
	}
	body footer .footer .columns {
		margin-top: 1em !important;
		padding: 0 10px;
	}
	body footer .footer p,
	body footer .footer .columns ul {
	    margin-bottom: 0px;
	}
	body footer .footer .columns ul.footer-contact-info li {
		font-size: 1rem;
		color: #757575;
		margin: 8px 0;
	}
	body footer .footer .columns ul.footer-contact-info li::before {
		font-size: 1rem;	
	}
	body footer .footer .ac-container {
		margin-top: 1em;
	}
	body footer .footer .ac-container a:hover {
		color: #000;
	}
	body footer .footer .ac-container .ac-row label {
		padding: 15px 10px;	
		border-bottom: 0px;
		font-weight: 500;
	}
	body footer .footer .ac-container article ul {
		margin-left: 0;
		padding: 0 10px;
	}
	body footer .footer .ac-container article a  {
		color: #757575;
		font-family: 'Varela';
		list-style: none;
		font-size: 11px;
	}
	body footer .footer .ac-container .ac-row label::after {
		content: "\f067";
		float: right;
		font-family: FontAwesome;
	}
	.woocommerce-page table.cart .product-thumbnail {
		display: block;
	}
	.woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before {
		display: none;
	}
	.woocommerce-page table.shop_table_responsive.cart .product-thumbnail img {
		width: inherit;
		margin: 10px;
		float: none;
		display: block;		
	}
	.woocommerce-page table.shop_table_responsive.cart .cart_item td {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		border: 0px !important;
	}
	.woocommerce-page table.shop_table_responsive.cart .cart_item .product-quantity,
	.woocommerce-page table.shop_table_responsive.cart .cart_item .product-name,
	.woocommerce-page table.shop_table_responsive.cart .cart_item .product-name .cart-prod-options td {
		text-align: left !important;
	}
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background: #ffffff;
	}
	.cart-responsive-remove-btn {
		display: inline-block;
		float: right;
		padding-right: 16%;	
	}
	.cart-responsive-remove-btn a {
		font-size: 28px !important;
		margin-top: 1px;		
	}
	.paddedPost1 .blog-post-content {
		background: #ffffff;
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0px;
	}
	.pagecontentwrap article.post-wrapper {
		padding: 10px !important;
	}
	.paddedPost1 .blog-post-content h3 {
		font-size: 12px !important;
		margin-top: 10px !important;
		font-weight: 600 !important;	
	}
	.show-promo {
		margin-top: 1pc;
	}
	.cart-collaterals .cart-promo {
		margin-bottom: 1pc;
		padding-bottom: 1pc;
		border-bottom: 1px solid #dfdfdf;
	}
	.woocommerce-cart table.cart td.actions .coupon input.button {
	    margin: 0 !important;
		padding: 10px;
	}

	.woocommerce-order-received footer {
		padding-top: 0px !important;
	}

	.woocommerce-order-received .review {
		margin-top: 0px !important;
	}
	.delivery-extra-info {
		padding: 1.5em 10px !important;
	}
}

@media screen and (max-width: 787px) {
	.singleproduct .banner .the_banner .content a.button {
		margin-top: 15px;
	}	
}

@media screen and (min-width: 768px) {
	.cart-responsive-remove-btn {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.woocommerce-page table.shop_table_responsive.cart .cart_item .product-name {
		padding-left: 10px !important;	
	}
	.woocommerce-page table.shop_table_responsive.cart .cart_item .product-subtotal {
		text-align: left !important;
		padding-left: 10px !important;
		padding-top: 1em !important;
	}
	.cart-responsive-quantity-right,
	.cart-responsive-price-left {
		width: 49%;
		display: inline-table;
		padding-left: 10px;
	}
	.woocommerce-page table.shop_table_responsive.cart .cart_item td.product-remove {
		display: none;
	}
	.woocommerce-page table.shop_table_responsive tr.cart_item {
		padding-bottom: 15px !important;
		border-bottom: 1px solid #e6e6e6 !important;
		margin-bottom: 15px !important;
	}
	.update-cart-row {
		border: 0px !important;
	}
	.woocommerce-cart .wc-proceed-to-checkout a {
		max-width: 100%;
		width: 100% !important;
		font-size: 13px !important;
	}
	.woocommerce table.cart td.actions input {
		float: left;
		margin-left: 10px;
	}
}

@media screen and (max-width: 711px) {
	.cartPrices span {
		margin-right: 5px;
	}
}

@media screen and (max-width: 639px) {
	.cart-delivery {
		-webkit-flex: 0 0 100% !important;
		-ms-flex: 0 0 100% !important;
		flex: 0 0 100% !important;
		max-width: 100% !important;
		width: 100px !important;
	}
}

@media screen and (max-width: 561px) {
	.singleproduct .banner .the_banner .content a.button {
		margin-top: 0px;
	}	
}

@media screen and (max-width: 545px) {
	.search_btn,
	.hamburger_btn {
		margin-bottom: 0px !important;
		margin-top: 6px;
	}
}

@media screen and (max-width: 500px) {
	body .sections .section .content.top_center { top: 0%; bottom: 20%; left: 20%; right: 20%; }
	body .sections .section .content.top_right { top: 0%; bottom: 20%; left: 20%; right: 20%; }
	body .sections .section .content.middle_left { top: 0%; bottom: 20%; left: 20%; right: 20%; }
	body .sections .section .content.middle_right { top: 0%; bottom: 20%; left: 20%; right: 20%; }
	body .sections .section .content {
		margin: 0 auto;
		left: 0 !important;
		right: 0 !important;
		max-width: 100%;
		padding: 10px;
		position: relative;
	    padding: 10px 10px 20px 10px;
	}
	body .sections div h2 {
		margin-bottom: 0px;
	}
	body .sections div p {
		margin-bottom: 5px;
	}
	.home-product-features .upper {
	    background: rgba(255, 255, 255, 0.52);
		border: 0 !important;
		padding: 0px;
		display: inline-block;
	}
	.home-product-features p {
		color: #030000;
	}
	div.festi-cart-pop-up-products-content p.festi-cart-buttons,
	div.festi-cart-pop-up-body div.festi-cart-pop-up-footer,
	div.festi-cart-pop-up-footer span.festi-cart-continue.b-close span.festi-cart-continue-shopping,
	body div.festi-cart-pop-up-products-content p.festi-cart-buttons a.festi-cart-view-cart {
		width: 100% !important;
	}
}

@media screen and (max-width: 429px) {
	.singleproduct .banner .the_banner .content a.button {
		margin-top: 15px;
	}	
}

@media screen and (max-width: 380px) {
	body .sections .section .content.top_center { top: 10%; bottom: 10%; left: 10%; right: 10%; }
	body .sections .section .content.top_right { top: 10%; bottom: 10%; left: 10%; right: 10%; }
	body .sections .section .content.middle_left { top: 10%; bottom: 10%; left: 10%; right: 10%; }
	body .sections .section .content.middle_right { top: 10%; bottom: 10%; left: 10%; right: 10%; }
	.cart-other-gateways .cart-amazon,
	.cart-other-gateways .cart-paypal {
		float: left !important;
		margin-top: 0px;
		width: 100%;
	}
	.cart-other-gateways .cart-amazon img, .cart-other-gateways .cart-paypal img {
		height: 41px !important;
	}
	.cart-other-gateways .cart-amazon {
		padding-right: 0px;
		margin-bottom: 10px;
	}
	.cart-other-gateways .cart-paypal {
		padding-left: 0px;
	}
	.more-or {
		display: inherit;
	}
}

@media screen and (max-width: 368px) {
	.order-confirmation-wrap .thanks-buttons .continue {
		margin-top: 8px;
	}
	body > header tel::before,
	body > header .help::after {
		content: '' !important;
		display: none;
	}
	.cart .single_add_to_cart_button {
		width: 100%;
	}
}

@media screen and (max-width: 305px) {
	body .banner .the_banner .content {
		padding-top: 20px;
	}
}

.bottom .show-for-small-only {
    padding-bottom: 2px;
}

#SlideMenu1 {
	display: none;
}

.SlideMenu1_Folder div {
	display: none;
}

#SlideMenu1 ul {
   list-style: none;
   margin: 0;
   padding: 0;
   font-family: Arial;
   font-size: 13px;
}

.SlideMenu1_Folder ul li,
.SlideMenu1_Folder {
	display: block !important;
}
.SlideMenu1_Folder ul {
	display: none;
	background: #ffffff;
}

.SlideMenu1_Folder ul span {
    display: block;
    margin: -5px 15px;
}

#SlideMenu1 li {
	cursor: pointer;
}

#SlideMenu1 li div {
	margin: 0px 0px 0px 0px;
	padding: 2px 2px 2px 5px;
	background-color: #A0A0A0;
	border-style: solid;
	border-width: 1px;
	border-color: #A0A0A0;
	position: relative;
	left: 0;
	top: 0;
	width: 95px;
}
#SlideMenu1 li div:hover {
   background-color: #666666;
   border-style: solid;
   border-width: 1px;
   border-color: #666666;
}

#SlideMenu1 li a {
	color: #EEEEEE;
	font-weight: normal;
	text-decoration: none;
}

#SlideMenu1 li a:hover {
	color: #EEEEEE;
	font-weight: normal;
	text-decoration: none;
}

#SlideMenu1 li li {
	cursor: auto;
	padding: 2px 2px 2px 5px;
	margin: 1px 0px 1px 0px;
	background-color: #EEEEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #C0C0C0;
}

#SlideMenu1 li li a {
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}

#SlideMenu1 li li:hover {
	background-color: #C0C0C0;
	border-style: solid;
	border-width: 1px;
	border-color: #C0C0C0;
}

#SlideMenu1 li li a:hover {
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}

#SlideMenu1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 104px;
	height: 186px;
	z-index: 0;
}

.search_btn,
.hamburger_btn {
	text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
	margin-bottom: 6px;
}

.search_btn {
	text-align: right;
}

.search_btn .fa,
.hamburger_btn .fa {
	font-weight: normal;
	font-size: 16px;
	border: 1px solid #020000;
	padding: 6px;
	display: inline-block;
	width: 30px;
	text-align: center;
	margin-right: 3px;
}

.SlideMenu1_Folder {
	background: #5BADC2;
}

.SlideMenu1_Folder a {
	color: #ffffff;	
}

.SlideMenu1_Folder .fa {
    float: right;
    top: 7px;
    position: relative;
    color: #fff;
    font-weight: 100;
    font-size: 10px;
}

.SlideMenu1_Folder div {
    display: block;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.SlideMenu1_Folder div.white-line {
		background: #ffffff;
}

.SlideMenu1_Folder div.white-line a {
	color: #030000 !important;	
}

.SlideMenu1_Folder div.white-line .fa {
	color: #030000 !important;		
}

.SlideMenu1_Folder .sub-menu li {
    background: #ffffff;
}

.SlideMenu1_Folder .sub-menu li a {
	color: #030000 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 1em;
	display: inline-block;
}

.responsive-search {
	width: 100% !important;
}

.responsive-search input {
    box-shadow: none;
    border-left: 0px;
    border-right: 0px;
	border-bottom: 0px;
}

.SlideMenu1_Folder .sub-menu li .zespoke-menu-link::before {
	background-position: 0 20px !important;
}

.SlideMenu1_Folder .sub-menu li .customise-icon::before { background: url("../imgs/menu/customise-unlit.png"); }
.SlideMenu1_Folder .sub-menu li .solid-icon::before { background: url("../imgs/menu/solid-unlit.png"); }
.SlideMenu1_Folder .sub-menu li .graphic-icon::before { background: url("../imgs/menu/graphic-unlit.png"); }
.SlideMenu1_Folder .sub-menu li .mix-icon::before { background: url("../imgs/menu/mix-unlit.png"); }

body .popular-designs .image {
	max-width: 95%;
}

.menu-active {
    background: #5badc2;
    color: #fff;
    border-color: #5badc2 !important;
}

.responsive-search,
.hide-responsive-menu {
    display: none !important;	
}

.searchvisible,
.hide-responsive-menu.menuisvisible {
    display: block !important;	
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (width : 667px) and (height : 375px) and (orientation : landscape) and (color : 8) and (device-aspect-ratio : 375/667) and (aspect-ratio : 667/375) and (device-pixel-ratio : 2) and (-webkit-min-device-pixel-ratio : 2) {
	body > header tel,
	body > header .help,
	body > header ul {
		font-size: 10px !important;
	}
}

/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.footer-form input {
		line-height: 16px !important;
	}
}
