@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'font-awesome';
@import 'motion-ui';
@import url(https://fonts.googleapis.com/css?family=Zeyada|Poppins:700,400|Varela|Varela+Round);

//

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;


@include motion-ui-transitions;
@include motion-ui-animations;

.row {

	border-top: solid 1px #dfdfdf;
	margin-top: 30px;
	padding-top: 30px;

}

p {

	font-family: 'Varela';
	font-weight: regular;
	font-size: 12px;
	color: #979696;

}

.upper {

	text-transform: uppercase;

}

a {

	color: #030000;

}

.fancy {

	font-family: 'Zeyada';
	font-size: 22pt;
	color: #1392a9;
	text-transform: none;

}

h1 {

	font-family: 'Zeyada';
	font-size: 30px;
	color: #1392a9;

}

h2 {

	font-family: 'Poppins';
	font-weight: bold;
	font-size: 16px;
	color: #4c4c4c;

}

h3 {

	font-family: 'Poppins', sans-serif;
	font-weight: regular;
	font-size: 16px;
	color: #757575;

}


h5 {

	font-family: ubuntu;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;

}

.nopadding {

	padding-left: 0;
	padding-right: 0;

}

.nopaddingleft {

	padding-left: 0;

}

.nopaddingright {

	padding-right: 0;

}

.center {

	text-align: center;

}

body {

	> header {
	
		border-bottom: 1px solid #bababa;
	
		.logo-small {
		
			width: 137px;
			height: 100%;
		
		}
	
		.top {
		
			border-bottom: 1px solid #dfdfdf;
			text-transform: uppercase;
			padding: 10px 0;
		
		}
		
		.bottom {
		
			padding-top: 14px; 
			padding-bottom: 18px;
			border-bottom: 1px solid #bababa;
		
			h1 {
			
				font-size: 18px;
				margin-bottom:0;
				vertical-align: bottom;
				display: inline-block;
				line-height: 25px;
				margin-right: 30px;
			
			}
			
			img {
			
				vertical-align: middle;
			
			}
			
			div.search {
			
				position: relative;
				width: 250px;
				height: 39px;
				display: inline-block;
				vertical-align: middle;
			
				input {
				
					position: absolute;
					left:0;
					top:0;
					bottom: 0;
					right:0;
					padding-right: 30px;
				
				}
			
				button {
				
					position: absolute;
					right: 0;
					height: 39px;
					width: 100px;
					text-align: right;
					padding-right: 10px; 
				
				}
				
			
			}
			
			input.search {
			
				display: inline-block;
				width: 100%;
				margin-bottom: 0;
				vertical-align: middle;
				text-align: right;
			
			}
		
		}
		
		 > .menu {
		
			background-color: #5badc2;
			color: white;
			border: 2px solid white;
			border-left: none;
			border-right: none;
			
			a {
			
				color: white;
				padding: 13px 25px;
				text-transform: uppercase;
				display: inline-block;
			
			}
			
			li {
			
				&:first-of-type a {
				
					padding-left: 0;
				
				}
				
				&:last-of-type a {
				
					padding-right: 0;
				
				}
			
			}
			
		
		}
	
		.row {
		
			padding-top: 0;
			margin-top: 0;
			border-top: none;
		
		}
		
		.right {
		
			text-align: right;
			color: #979797;
			padding-right: 0;
		
		}
		
		ul {
		
			margin-bottom: 0;
			margin-left: 0;
			padding-left: 0;
			list-style: none;
		
			li {
			
				display: inline-block;
			
			}
		
		}
		
		.checkout {
		
			color: #62a9c5;
		
		}
		
		.help {
		
			color: #62a9c5;
		
			&::after {
			
				content: "\f086";
				font-family: FontAwesome;
				margin-left: 11px;
			
			}
		
		}
		
		tel {
		
			margin-right: 15px;
			color: #979797;
		
			&::before {
		
				content: "\f095";
				font-family: FontAwesome;
				margin-right: 6px;
				color: black;
		
			}
		
		}
		
		.basket {
		
			&::after {
			
				content: "\f291";
				font-family: FontAwesome;
				margin-left: 7px;
				color: black;
			
			}
		
		}
		
		.basket-overview {
		
			margin-right: 15px;
		
		}
		
		.num {
		
			margin-right: 10px;
		
		}
		
		.price {
		
			margin-left: 10px;
		
		}
		
		.num, .price {
		
			color: black;
		
		}
		
		
	}

	.salespoints {
	
		&.row {
		
			padding-top: 0;
			border-top: none;
		
		}
	
		border-bottom: 1px solid e0dee3;
		padding-bottom: 1px;
		margin-top: 1px;
	
		div {
		
			border: 1px solid white;
			
			&:first-of-type {
			
				border-left: none;
			
			}
			
			&:last-of-type {
			
				border-right: none;
			
			}
			
			background-color: #dcedcd;
			padding: 0.5em;
			text-align: center;
		
		}
		
		h2 {
		
			font-size: 12px;
			color: #98a88d;
			margin-bottom: 0;
			
			strong {
			
				color: black;
			
			}
		
		}
	
	}
	
	.imageslider {
	
		&.row {
		
			padding-top: 0;
		
		}
	
		margin-top: 1px;
		padding-bottom: 1px;
		border-bottom: 1px solid #dfdfdd;
		position: relative;
		
		.owl-controls {
		
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			
			.owl-nav {
			
				position: absolute;
				width: 100%;
				top: 50%;
				
				.owl-prev {
				
					position: absolute;
					left: 20px;
					top: -17px;
					color: transparent;
					width: 15px;
					height: 25px;
					background-image: url('../imgs/prev.png');
					background-repeat: no-repeat;
				
				}
				
				.owl-next {
				
					width: 15px;
					height: 25px;
					position: absolute;
					top: -17px;
					right: 20px;
					color: transparent;
					background-image: url('../imgs/next.png');
					background-repeat: no-repeat;
				
				}
			
			}
			
			.owl-dots {
			
				position: absolute;
				bottom: 0;
				right: 8px;
				
				.owl-dot {
				
					height: 8px;
					width: 8px;
					background-color: transparent;
					border: 2px solid #4a4a4a;
					border-radius: 8px;
					display: inline-block;
					margin-right: 4px;
					
					&:last-of-type {
					
						margin-right: 0;
					
					}
					
					&.active {
					
						background-color: #4a4a4a;
					
					}
				
				}
			
			}	
		
		}
	
	}
	
	.threepanels {
	
		margin-top: 30px;
		
		.panel {
		
			text-align: center;
			vertical-align: bottom;
			position: relative;
			
			img {
			
				display: block;
				margin-left: auto;
				margin-right: auto;
				height: 97px;
			
			}
			
			.content {
			
				display: block;
				margin-top: 20px;
				margin-bottom: 0;
				margin-bottom: 25px;
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
				
				
				h3 {
				
					font-family: ubuntu;
					font-weight: normal;
					text-transform: uppercase;
					color: #4F4F4F;
				
				}
			
			}
		
		}
	
	}
	
	.sections {
	
		.section {
			
			height: 262px;
			position: relative;
			
			.content {
			
				position: absolute;
				top: 20px;
				left: 40%;
				
				&.top_center {
				
					top: 20px;
					left: 40%;
				
				}
				
				&.top_right {
				
					top: 20px;
					left: 60%;
				
				}
				
				&.middle_left {
				
					top: 65px;
					left: 5%;
				
				}
				
				&.middle_right {
				
					top: 65px;
					left: 60%;
				
				}
			
			}
			
		}
	
		div {
		
			
		
			.content {
			
				max-width: 205px;
				margin-left: auto;
				margin-right: auto;
			
			}
		
			&:nth-of-type(2n) {
			
				padding-right: 0;
			
			}
			
			&:nth-of-type(2n-1) {
			
				padding-left: 0;
			
			}
		
			text-align: center;
			margin-bottom: 20px;
			
			h2 {
			
				border-bottom: 1px solid #D1D0D0;
				text-transform: uppercase;
			
			}
			
			p {
			
				font-size: 10pt;
			
			}
			
			a.cat_button {
			
				border: 1px solid black;
				background-color: white;
				padding: 0.5em 1em;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 8pt;
				font-family: ubuntu;
			
			}
		
		}
	
	}
	
	.information {
	
		.info_image {
		
			border: 1px solid #dfdfdf;
			padding: 9px;
		
		}
	
	}
	
	.popular-designs {
	
		.image {
		
			position: relative;
			
			.customise_logo {
			
				position: absolute;
				top: 7px;
				right: 7px;
			
			}
			
			.attachment-shop_thumbnail {
			
				width: 100%;	
			
			}
		
		}
		
		h2 {
		
			font-weight: 500;
			color: black;
			font-size: 12px;
			margin-top: 15px;
			text-transform: uppercase;
			margin-bottom: -2px;
		
		}
	
		.price {
		
			.rrp {
			
				text-decoration: line-through;
				color: #5ca8c0;
			
			}
			
			.saving {
			
				color: #5ca8c0;
				text-transform: uppercase;
			
			}
			
			.sale {
			
				display: block;
				line-height: 12px;
			
			}
		
		}
	
	}
	
	.blog {
	
		margin-bottom: 10px;
	
		.post {
			
			margin-bottom: 10px;
			
			a.button {
			
				font-family: 'Poppins';
				background-color: white;
				border: 1px solid black;
				text-transform: uppercase;
				color: #393434;
				font-size: 10px;
				font-weight: bold;
				padding: 10px 15px;
				margin-bottom: 0;
			
			}
			
			h2 {
			
				font-weight: normal;
				color: black;
				font-size: 12px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-transform: uppercase;
				
			
			}
			
			p.date {
			
				padding-top: 5px;
				margin-left: auto;
				margin-right: 0;
				float: right;
				display: inline-block;
				vertical-align: middle;
				color: #50abc8;
				margin-bottom: 0;
			
			}
			
			div.excerpt {
			
				display: block;
				font-size: 10px;
				font-family: "Varela";
				color: #979696;
			
				p {
				
					margin-bottom: 10px;
					line-height: 16px;
					font-size: 11px;
				
				}
			
			}
			
			&.main {
			
				position: relative;
		
				.content {
			
					background-color: white;
					padding: 11px;
					position: absolute;
					bottom: 1em;
					left: 10px;
					right: 20px;
		
					h2 {
					
						letter-spacing: 1.5px;
						font-size: 16px;
					
					}
		
					a.button {
			
						font-family: 'Poppins';
						background-color: white;
						border: 1px solid black;
						text-transform: uppercase;
						color: #393434;
						font-size: 10px;
						font-weight: bold;
						padding: 10px 15px;
						margin-bottom: 0;
			
					}
		
					p.date {
			
						float: none;
						padding-top: 0;
						vertical-align: middle;
						margin-left: 1em;
			
					}
					
					div.excerpt {
					
						display: none;
					
					}
		
				}
			
			}
		
		}
	
	}
	
	.banner {
	
		.the_banner {
		
			position: relative;
			
			.content {
			
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				text-align:center;
				padding-top: 46px;
				
				h2, h1 {
				
					color: white;
				
				}
				
				h2 {
				
					font-weight: normal;
					text-transform: uppercase;
					font-size: 24px;
					margin-bottom: 0;
				
				}
				
				h1 {
				
					font-weight: bold;
					font-size: 42px;
					vertical-align: center;
					line-height: 56px;
					margin-bottom: 0;
					
					img {
					
						vertical-align: top;
					
					}
				
				}
				
				a.button {
				
					background-color: white;
					color: black;
					border: 1px solid black;
					margin-top: -5px;
					text-transform: uppercase;
					font-size: 10px;
					padding: 10px 15px;
					font-weight: bold;
				
				}
			
			}
		
		}
	
	}


	.popular-designs {
	
		margin-bottom: 2em;
	
	}
	
	background-color: white;

	footer {
	
		border-top: 1px solid #bababa;
		padding-top: 20px;
	
		.featured {
		
			padding-bottom: 3px;
			border-bottom: 1px solid #bababa;
		
			.inner {
		
				background-color: #4c4c4c;
				height: 82px;
		
			}
		
		}
		
		.newsletter {
		
			margin-top: 3px;
			padding-bottom: 3px;
			border-bottom: 1px solid #bababa;
			background-color: #eeeeee;
			
			.inner {
			
				/**height: 60px;**/
				background-color: #5badc2;
			
			}
		
		}
		
		.footer {
		
			margin-top: 3px;
			padding-bottom: 3px;
			border-bottom: 1px solid #bababa;
			background-color: #eeeeee;
		
			.inner {
			
				h2 {
				
					text-transform: uppercase;
					font-weight: normal;
				
				}
			
				min-height: 225px;
			
			}
		
		}
		
		.footer-bottom {
		
			.row {
			
				border-top: none;
				margin-top: 0;
				padding-top: 0;
				
				.small-6:last-of-type {
				
					text-align: right;
				
				}
			
			}
		
		}
	
	}

}
