html, body {

	height: 100%;
	box-sizing: border-box;

}

h2 {

	font-family: 'Poppins';
	font-weight: bold;
	font-size: 16px;
	color: #4c4c4c;

}

p {

	font-family: 'Varela';
	font-size: 12px;
	color: #979696;

}

*,*::before,*::after {

	box-sizing: inherit;

}

body {

	background-color: white;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: #0a0a0a;
	background: #fefefe;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.imageslider.row {
		
		padding-top: 0;

	}

	> header {

		> .menu {

			background-color: #5badc2;
			color: white;
			border: 2px solid white;
			border-left: none;
			border-right: none;
			margin: 0;
			list-style-type: none;

			a {

				color: white;
				padding: 0px 24px;
				text-transform: uppercase;
				display: inline-block;
				font-size: 11px;
				font-weight: 600;
				border: 1px solid #5BADC2;
				font-family: 'Poppins';

			}

		}

		.logo-small {

			width: 137px;
			height: auto;

		}

		tel {

			margin-right: 10px;
			color: #979797;
			font-size: 11px;
			font-weight: 600;

		}

		border-bottom: 0px;

		

		.bottom {
			
			padding-top: 41px;
			padding-bottom: 4px;
			border-bottom: 1px solid #bababa;
			
			.right {

				padding-top: 0px;

			}

			img {

				vertical-align: middle;

			}

			.responsive-search {

				display: none !important;

			}

			div.search {

				position: relative;
				width: 350px;
				max-width: 48%;
				height: 35px;
				display: inline-block;
				vertical-align: middle;

				input {

					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					padding-right: 30px;

				}

				.button {

					position: absolute;
					right: 0;
					height: 39px;
					width: 100px;
					text-align: right;
					padding-right: 10px;

				}

			}

		}

		.top {

			position: fixed;
			display: block;
			margin: 0 auto;
			background: #fff;
			width: 100%;
			z-index: 9999;
			-webkit-backface-visibility: hidden;
			border-bottom: 1px solid #dfdfdf;
			text-transform: uppercase;
			padding: 0px;
			height: 30px;

		}

		.row {

			font-family: 'Poppins';
			padding-top: 0;
			margin-top: 0;
			border-top:  none;

		}

		ul {

			margin-bottom: 0;
			margin-left: 0;
			padding-left: 0;
			list-style: none;
			font-size: 11px;
			margin-top: 0;

			li {

				display: inline-block;

			}

		}
		
		.right {

			text-align: right;
			color: #979797;
			padding-right: 0;
			padding-top: 0;
			font-size: 0.69rem;
			font-weight: 600;

		}

	}

	.imageslider {

		margin-top: 1px;
		padding-bottom: 2px;
		border-bottom: 1px solid #dfdfdd;
		position: relative;

		.owl-dots {

			z-index: 999;
			position: absolute;
			bottom: 0;
			right: 8px;

			.owl-dot {

				height: 8px;
				width: 8px;
				background-color: transparent;
				border: 2px solid #4a4a4a;
				border-radius: 8px;
				display: inline-block;
				margin-right: 4px;

			}

		}

		.owl-controls {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;

			.owl-nav {

				position: absolute;
				width: 100%;
				top: 50%;
				z-index: 999;

				.owl-next, .owl-prev {

					cursor: pointer;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;

				}

				.owl-prev {

					position: absolute;
					left: 20px;
					top: -17px;
					color: transparent;
					width: 14px;
					height: 25px;
					background-repeat: no-repeat;

				}

				.owl-next {

					width: 14px;
					height: 25px;
					position: absolute;
					top: -17px;
					right: 20px;
					color: transparent;
					background-position: -14px 0;
					background-repeat: no-repeat;

				}

			}

		}

	}

}

.owl-carousel.owl-loaded.mobile-slider {

	display:none;

}

body .imageslider .owl-carousel .owl-stage-outer {

	z-index: 999;

}

.owl-carousel .owl-stage-outer {

	position: relative;
	overflow: hidden;

}

.owl-carousel {

	.owl-item {

		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		img {

			transform-style: preserve-3d;
			display: block;
			width: 100%;
			-webkit-transform-style: preserve-3d;
			height: auto;
			width: initial !important;
			margin: 0 auto;

		}

	}

	.owl-stage {

		position: relative;
		-ms-touch-action: pan-Y;

	}

	&.owl-loaded {

		display: block;
		overflow: hidden;

	}

	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

}

body.home .salespoints .row {

	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 2px;

}

body .salespoints.row {

	padding-top: 0;
	border-top: none;

}

body .salespoints {

	div:first-of-type {

		border-left: none;

	}

	div {

		border: 1px solid white;
		background-color: #dcedcd;
		padding: 0.4em;
		padding-bottom: 0.2em;
		text-align: center;

	}

	h2 {

		font-size: 11px;
		color: black;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 100;
		letter-spacing: 1px;

	}

	border-bottom: 1px solid #e0dee3;
	margin-bottom: 1px;
	margin-top: 1px;

}

h2 {

	padding: 0;
	margin: 0;

}

.menu-outside {

	display: none;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 9999;

}

.hide-responsive-menu {

	display: none;

}

div.trusted {

	height: 39px;
	width: 276px;
	background-image: url('/wp-content/themes/zespoke/imgs/Customer_Reviews_white.jpg');
	float: right;

}

.home-free-sample {

	box-sizing: border-box;
	background: #83bc55;
	text-align: center;
	margin-top: 2px !important;
	border-bottom: 1px solid #fff;

	h2 {

		margin: 0px;
		padding: 13px 0 5px 0;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1px;

		a {

			color: #ffffff;

		}

	}

}

a {

	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;

}

[type='text'] {

	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 2.4375rem;
	padding: 0.5rem;
	border: 1px solid #cacaca;
	margin: 0 0 1rem;
	font-size: 1rem;
	color: #0a0a0a;

}

.logo-tagline {

	font-size: 18px !important;
	margin-bottom: 0;
	vertical-align: bottom;
	display: inline-block;
	line-height: 16px;
	margin-right: 30px;
	color: #2399af;
	font-family: 'Zeyada' !important;
	text-transform: none;
	font-weight: 400;
	font-style: normal;

}

ul {

	color: #979696;
	line-height: 2pc;

}

.nopaddingright {

	padding-right: 0;

}

.nopaddingleft {

	padding-left: 0;

}

.column, .columns {

	min-width: 0;

}

.row {

	border-top: solid 1px #dfdfdf;
	margin-top: 30px;
	padding-top: 30px;
	max-width: 66.25rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row wrap;

}

.row.collapse > .column,
.row.collapse > .columns {

	padding-left: 0;
	padding-right: 0;

}

@mixin flex($width) {

	-webkit-flex: 0 0 $width;
	-ms-flex: 0 0 $width;
	flex: 0 0 $width;
	max-width: $width;

}

.small-12 {

	@include flex(100%);

}

.small-11 {

	@include flex(91.66667%); 

}

.small-4 {

	@include flex(33.33333%);

}

.small-1 {

	@include flex(8.33333%);

}

@media screen and (max-width: 0em), screen and (min-width: 40em) {

	.show-for-small-only {

		display: none !important;

	}

}

@media screen and (min-width: 40em) {

	.row.medium-unstack > .columns {

		-webkit-flex: 1 1 0px;
		-ms-flex: 1 1 0px;
		flex: 1 1 0px;

	}

	.medium-2 {

		@include flex(16.66667%);

	}

	.medium-10 {

		-webkit-flex: 0 0 83.33333%;
		-ms-flex: 0 0 83.33333%;
		flex: 0 0 83.33333%;
		max-width: 0 0 83.33333%;

	}

	.medium-12 {

		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;

	}

	.medium-8 {

		-webkit-flex: 0 0 66.66667%;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.6667%;

	}

	.medium-7 {

		@include flex(58.33333%);

	}

	.medium-6 {

		@include flex(50%);

	}

	.medium-5 {

		@include flex(41.66667%);

	}

	.medium-4 {

		flex: 0 0 33.3333%;
		max-width: 33.33%;

	}

	.column, .columns {

		padding-left: 0.625rem;
		padding-right: 0.625rem;

	}

}

@media screen and (min-width: 64em) {

	.large-12 {

		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;

	}
	
	.large-8 {

		@include flex(66.66667%);

	}

	.large-6 {

		@include flex(50%);

	}

	.large-5 {

		@include flex(41.66667%);

	}

	.large-4 {

		@include flex(33.33333%);

	}

	.large-3 {

		@include flex(25%);

	}

	.large-2 {

		@include flex(16.66667%);

	}

	.hide-for-large {

		display: none;

	}

}

.nopadding {

	padding-left: 0;
	padding-right: 0;

}

.nopaddingleft {

	padding-left: 0;

}

.nopaddingright {

	padding-right: 0;

}

.no-border {

	border: none;
	margin-top: 15px;

}

.fa {

	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;

}

@import 'parts/kino_language_switcher.scss';
@import 'parts/kino_responsive_cart.scss';
@import 'parts/kino_three_panels.scss';
@import 'parts/kino_anchor_row.scss';
@import 'parts/kino_featured_products.scss';
