
.kino-language-switcher {

	width: 70px;
	position: relative;
	cursor: pointer;
	margin-left: 8px;

	.selected {

		padding-left: 2em;
		position: relative;
		text-align: left;

		i {

			&.left {

				position: absolute;
				left: 0;

			}

			&.right {

				position: absolute;
				right: 0;

			}

			&.fa-angle-down {

				margin-left: 2em;

			}

			vertical-align: middle;
			top: 50%;
		}

		

	}

	.other-languages {

		position: absolute;
		top: 90%;
		left: 0;
		right: 0;

	}

	.hidden {

		display: none;

	}

}

@media screen and (max-width: 448px) {

	.kino-language-switcher {

		width: 45px;
		margin-left: 6px;

	}

}

@media screen and (max-width: 400px) {

	.kino-language-switcher {

		width: 15px;
		margin-left: 5px;

		.selected {

			padding-left: 0;

			i.left {

				display: none;

			}

			

		}

		.other-languages {

			left: -25px;

		}

	}

}
