@media screen and (max-width: 500px) {

	body .sections .section .content {

		position: absolute;

		&.middle_left {

			top: 25%;
			bottom: initial;
			left: initial;
			right: initial;
			margin: auto;

		}

		&.middle_right {

			top: 25%;
			bottom: initial;
			left: initial;
			right: initial;
			margin-right: 0;
			margin-left: auto;

		}

	}

}

@media screen and (max-width: 380px) {

	body .sections .section {
	
		.content.middle_left {

			top: 10%;
			bottom: initial;
			left: 5%;
			right: initial;

		}

		.content.middle_right {

			top: 10%;
			bottom: initial;
			left: initial;
			right: 5%;

		}

	}

}
